{% set model = model|default(title|lower) %}
{% set resource = "admin.#{model}" %}

{% if Session.has('success') and not hide_footer %}
	<p class="alert alert-success">The entry was successfully created/updated</p>
{% endif %}

{% if items.count() > 20 %}
	{% include 'arrounded::_partials.admin.pagination' %}
{% endif %}

<table class="table table-striped table-hover admin__table">
	<thead>
	<tr>
		<th>#</th>
		{% for field, name in fields %}
			<th>{{ name }}</th>
		{% endfor %}
		{% block headers %}{% endblock %}

		{# Actions #}
		{% if View.exists("#{resource}.show") %}
			<th>Show</th>
		{% endif %}
		<th class="filter-false">Edit</th>
		<th class="filter-false">Delete</th>
	</tr>
	</thead>
	<tbody>
	{% for item in items %}
		<tr data-id="{{ item.id }}">
			<td>{{ item.id }}</td>
			{% for field, name in fields %}
				<td>{{ (attribute(item, 'getPresenter') is defined ? attribute(item.getPresenter(), field) : attribute(item, field))|raw }}</td>
			{% endfor %}
			{% block columns %}{% endblock %}

			{# Actions #}
			{% if View.exists("#{resource}.show") %}
				<td>
					<a href="{{ URL.route("#{resource}.show", item.id) }}"><i class="glyphicon glyphicon-eye-open"></i></a>
				</td>
			{% endif %}
			<td>
				<a href="{{ URL.route("#{resource}.edit", item.id) }}"><i class="glyphicon glyphicon-pencil"></i></a>
			</td>
			<td>
				<a ng-click="controller.delete({{ item.id }}, $event)" data-action="delete" href="{{ URL.route("#{resource}.destroy", item.id) }}"><i class="glyphicon glyphicon-remove"></i></a>
			</td>
		</tr>
	{% endfor %}
	</tbody>
	{% if not hide_footer %}
		<tfoot>
		<tr>
			<td colspan="50">
				{{ HTML.linkRoute("#{resource}.create", 'Add an entry', {}, {class: 'btn btn-block btn-primary btn-lg'})|raw }}
			</td>
		</tr>
		</tfoot>
	{% endif %}
</table>
